.project {
  height: 90vh;
}

.project__container {
  background-color: rgb(236, 236, 236);
  margin: 2rem;
}

.project__title {
  text-align: center;
  color: var(--primary-color);
  padding: 1rem;
  font-size: 2rem;
}

.project__img {
  margin: 2rem;
}

.project__buttons {
  display: flex;
  justify-content: space-around;
}

.project__about {
  width: 80%;
  margin: 0 2rem;
}

.project__about--title {
  margin: 1rem auto;
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
  padding: 0.3rem 1.6rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.project__about--tech {
  margin-top: 0.6rem;
}

@media (min-width: 1000px) {
  .project__title {
    font-size: 3rem;
  }

  .project__container {
    display: flex;
    flex-direction: row-reverse;
  }

  .project__about {
    position: relative;
    padding-left: 2rem;
    margin: 2rem;
    font-size: 1.2rem;
  }

  .project__about--title {
    position: absolute;
    left: -12rem;
    top: 10rem;
    font-size: 1.7rem;
    padding: 0.5rem 2rem;
  }
}
