.landing {
  position: relative;
  background: url("../../../img/cv.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing__banner {
  height: 100vh;
}

.landing__inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
